.goods_detail{
    position: relative;
}
swiper{
    height: 720rpx;
}
// 轮播图
.swipe{
    width: 100%;
    height: 720rpx;
    .slide-image{
        
        width: 100%;
        height: 720rpx;
    }       
}
// 描叙
.describe{
    padding:0 0 0 20rpx;
    margin-bottom:250rpx;
    .describe-price{
        height: 120rpx;
        color: red;
        font-size:38rpx;
        line-height: 120rpx;
    }
    .describe-title{
        display: flex;
        padding:40rpx 0;
        .left{
            // height: 80rpx;
            font-size:33rpx;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box; //将元素设为盒子伸缩模型显示
            -webkit-box-orient: vertical; //伸缩方向设为垂直方向
            -webkit-line-clamp: 2;  //超出3行隐藏，并显示省略号       
        }
        .right{
            width:130rpx;
            // height: 80rpx;
            flex-shrink: 0;
            font-size:24rpx;
            text-align: center;
        }
    }
}
// 底部
.footer{
    position: fixed;
    left:0;
    bottom:0;
    display: flex;
    width: 100%;
    background: white;
    // justify-content: space-between;
    .contact{
        width:20%;
        height: 100%;
        position: absolute;
        left:0;
        padding:0;
        margin:0;
        bottom: 0;
        opacity: 0;

    }
    .footer-left{
        width: 20%;
        height: 100rpx;
        font-size:22rpx;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        .icon-kefu{
            font-size: 34rpx;
        }
        .icon-gouwuche{
            font-size:34rpx;
        }

    }
    .footer-right{
        width:30%;
        height: 100rpx;
        font-size:34rpx;
        background-color: #f4b73f;
        text-align: center;
        line-height: 100rpx;
        color: white;
        &:last-child{
            background-color: #eb4450;
        }
    }
}